In [132]:
import pandas as pd
import os
import numpy as np

In [2]:
# https://plos.figshare.com/articles/_Eight_Personal_Characteristics_Associated_with_the_Power_to_Live_with_Disasters_as_Indicated_by_Survivors_of_the_2011_Great_East_Japan_Earthquake_Disaster_/1470421

In [14]:
os.getcwd()

'/Users/josephshanks/Downloads'

In [3]:
# https://digital.nhs.uk/data-and-information/publications/statistical/mental-health-of-children-and-young-people-in-england/2017/2017 -----seperate data set that might work

In [17]:
df_agesex=pd.read_excel('S1_File.xlsx', sheet_name='data D')

In [94]:
df_evac_jobs_dmg=pd.read_excel('S1_File.xlsx', sheet_name='data E')

In [98]:
#Reassigning column names to df
df_evac_jobs_dmg.columns = ['ID','Y/N Evacuated', 'Family Inj scale 1-4 5=NA', 'FAIS#2', 'FAIS#3','Drop1','Drop2','Friends Inj scale 1-4 5=NA','FRIS#2', 'FRIS#3','FRIS#4', 'DROP3','Residence DMG','Job affect scale1-4 5=had no job','JAS#2','JAS#3','Drop4','Drop5']

In [140]:
#empty columns - no data
df_evac_jobs_dmg.drop(labels=['Drop1','Drop2','DROP3','Drop4','Drop5'], axis=1, inplace=True)

In [139]:
df_evac_jobs_dmg

,ID,Y/N Evacuated,Family Inj scale 1-4 5=NA,FAIS#2,FAIS#3,Friends Inj scale 1-4 5=NA,FRIS#2,FRIS#3,FRIS#4,Residence DMG,Job affect scale1-4 5=had no job,JAS#2,JAS#3
0,1,2.0,5.0,NaN,NaN,4.0,NaN,NaN,NaN,7.0,1.0,NaN,NaN
1,2,1.0,5.0,NaN,NaN,5.0,NaN,NaN,NaN,5.0,4.0,NaN,NaN
2,3,1.0,1.0,NaN,NaN,5.0,NaN,NaN,NaN,4.0,1.0,NaN,NaN
3,4,1.0,5.0,NaN,NaN,5.0,NaN,NaN,NaN,6.0,4.0,NaN,NaN
4,5,1.0,5.0,NaN,NaN,5.0,NaN,NaN,NaN,7.0,1.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1407,1408,1.0,4.0,NaN,NaN,5.0,NaN,NaN,NaN,7.0,4.0,NaN,NaN
1408,1409,2.0,5.0,NaN,NaN,5.0,NaN,NaN,NaN,7.0,1.0,NaN,NaN
1409,1410,1.0,1.0,NaN,NaN,1.0,NaN,NaN,NaN,7.0,4.0,NaN,NaN
1410,1411,1.0,1.0,NaN,NaN,4.0,NaN,NaN,NaN,7.0,4.0,NaN,NaN
1411,1412,1.0,5.0,NaN,NaN,5.0,NaN,NaN,NaN,7.0,1.0,NaN,NaN

In [149]:
df_personality=pd.read_excel('S1_File.xlsx', sheet_name='data P')

In [172]:
df_personality.set_index("ID")

,1,2,3,4,5,6,7,8,9,10,...,31,32,33,34,35,36,37,38,39,40
ID,,,,,,,,,,,,,,,,,,,,,
1,3.0,2.0,3.0,3.0,4.0,4.0,4.0,4.0,3.0,3.0,...,2.0,4.0,4.0,2.0,3.0,2.0,3.0,4.0,3.0,2.0
2,3.0,2.0,3.0,3.0,4.0,4.0,4.0,4.0,4.0,5.0,...,0.0,4.0,4.0,2.0,3.0,1.0,3.0,3.0,0.0,0.0
3,4.0,4.0,2.0,2.0,3.0,4.0,4.0,5.0,4.0,4.0,...,4.0,3.0,2.0,1.0,4.0,2.0,5.0,4.0,3.0,2.0
4,5.0,5.0,1.0,3.0,5.0,4.0,3.0,3.0,4.0,5.0,...,0.0,3.0,3.0,3.0,3.0,2.0,4.0,4.0,2.0,1.0
5,3.0,3.0,3.0,3.0,3.0,4.0,4.0,4.0,3.0,3.0,...,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1408,5.0,5.0,1.0,4.0,4.0,2.0,3.0,3.0,4.0,4.0,...,4.0,3.0,3.0,3.0,4.0,4.0,5.0,5.0,4.0,5.0
1409,3.0,4.0,2.0,0.0,4.0,4.0,1.0,2.0,2.0,1.0,...,3.0,3.0,4.0,2.0,3.0,1.0,4.0,5.0,4.0,5.0
1410,3.0,2.0,4.0,4.0,4.0,4.0,5.0,4.0,4.0,4.0,...,2.0,4.0,3.0,3.0,3.0,4.0,5.0,5.0,3.0,1.0
1411,3.0,2.0,4.0,3.0,3.0,3.0,3.0,2.0,2.0,2.0,...,2.0,2.0,3.0,2.0,2.0,2.0,3.0,3.0,3.0,2.0
1412,3.0,2.0,2.0,1.0,3.0,4.0,3.0,5.0,3.0,3.0,...,2.0,2.0,5.0,2.0,3.0,1.0,4.0,2.0,1.0,1.0

In [173]:
#Creating altruism personality group
df_p_altruism = df_personality[[1,2,4,5,6]]
df_p_altruism

        1    2    4    5    6
0     3.0  2.0  3.0  4.0  4.0
1     3.0  2.0  3.0  4.0  4.0
2     4.0  4.0  2.0  3.0  4.0
3     5.0  5.0  3.0  5.0  4.0
4     3.0  3.0  3.0  3.0  4.0
...   ...  ...  ...  ...  ...
1407  5.0  5.0  4.0  4.0  2.0
1408  3.0  4.0  0.0  4.0  4.0
1409  3.0  2.0  4.0  4.0  4.0
1410  3.0  2.0  3.0  3.0  3.0
1411  3.0  2.0  1.0  3.0  4.0

[1412 rows x 5 columns]

In [166]:
#Creating Stubbornness personality group
df_p_stubbornness = df_personality[[8,7,9,11,12]]
df_p_stubbornness

       8    7    9    11   12
0     4.0  4.0  3.0  3.0  3.0
1     4.0  4.0  4.0  2.0  3.0
2     5.0  4.0  4.0  2.0  2.0
3     3.0  3.0  4.0  5.0  5.0
4     4.0  4.0  3.0  3.0  4.0
...   ...  ...  ...  ...  ...
1407  3.0  3.0  4.0  4.0  5.0
1408  2.0  1.0  2.0  1.0  1.0
1409  4.0  5.0  4.0  3.0  4.0
1410  2.0  3.0  2.0  3.0  2.0
1411  5.0  3.0  3.0  0.0  2.0

[1412 rows x 5 columns]

In [152]:
#Creating Self Transcendence personality group
df_p_self_transcendence = df_personality[[15,16,17,18]]

In [153]:
#Creating Emotional Regulation personality group
df_p_emotional_regulation = df_personality[[19,20,21,22]]

In [154]:
#Creating Problem Solving personality group
df_p_problem_solving = df_personality[[13,23,24,25,33]]

In [155]:
#Creating Leadership personality group
df_p_leadership = df_personality[[26,30,31,39,40]]

In [156]:
#Creating Self Improvement personality group
df_p_self_improvement = df_personality[[34,35,36]]

In [157]:
#Creating Etiquette personality group
df_p_etiquette = df_personality[[28,37,38]]

In [162]:
#THIS DF ID MATCHES UP WITH INDEX VALUES WHEN CHANGING DONT ADD ONE!!!!

df_imevac_health_domains = pd.read_excel('S1_File.xlsx', sheet_name='data S')
df_imevac_health_domains= df_imevac_health_domains[1:]

,ID,Item#,1,2a,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 143,Unnamed: 144,Unnamed: 145,Unnamed: 146,3,Unnamed: 148,4,Unnamed: 150,5,Unnamed: 152
1,False,True,True,False,False,False,False,False,False,False,...,True,True,True,True,False,False,False,False,False,False
2,False,True,False,False,False,False,False,False,False,False,...,True,True,True,True,False,False,False,False,False,False
3,False,True,False,False,False,False,False,False,False,False,...,True,True,True,True,False,False,False,False,False,False
4,False,True,False,False,False,False,False,False,False,False,...,True,True,True,True,False,False,False,False,False,False
5,False,True,False,False,False,False,False,False,False,False,...,True,True,True,True,True,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1408,False,True,False,False,False,False,False,False,False,False,...,True,True,True,True,False,False,False,False,False,False
1409,False,True,True,False,False,False,False,False,False,False,...,True,True,True,True,False,False,False,False,False,False
1410,False,True,False,False,False,False,False,False,False,False,...,True,True,True,True,False,False,False,False,False,False
1411,False,True,False,False,False,False,False,False,False,False,...,True,True,True,True,False,False,False,False,False,False
1412,False,True,False,False,False,False,False,False,False,False,...,True,True,True,True,False,False,False,False,False,False

In [163]:
df_imevac_health_domains.dropna(axis=1, how='all')

,ID,1,2a,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,...,Unnamed: 142,Unnamed: 143,Unnamed: 144,Unnamed: 145,3,Unnamed: 148,4,Unnamed: 150,5,Unnamed: 152
1,1.0,NaN,1.0,2.0,1.0,2.0,2.0,0.0,0.0,2.0,...,NaN,NaN,NaN,NaN,95,100,2,5,3,1
2,2.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,NaN,NaN,NaN,NaN,20,100,2,2,5,2
3,3.0,2.0,1.0,1.0,1.0,2.0,0.0,1.0,1.0,2.0,...,NaN,NaN,NaN,NaN,70,100,1,1,1,0
4,4.0,1.0,1.0,0.0,0.0,1.0,0.0,2.0,2.0,2.0,...,NaN,NaN,NaN,NaN,20,60,1,3,1,3
5,5.0,2.0,1.0,2.0,2.0,2.0,1.0,1.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,60,0,1,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1408,1408.0,1.0,2.0,2.0,1.0,2.0,1.0,2.0,2.0,2.0,...,NaN,NaN,NaN,NaN,10,50,0,0,0,0
1409,1409.0,NaN,2.0,2.0,2.0,1.0,2.0,2.0,2.0,2.0,...,NaN,NaN,NaN,NaN,20,60,1,3,1,3
1410,1410.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,...,NaN,NaN,NaN,NaN,10,50,1,3,1,0
1411,1411.0,2.0,2.0,2.0,1.0,2.0,1.0,1.0,1.0,2.0,...,NaN,NaN,NaN,NaN,50,80,3,4,3,4
1412,1412.0,1.0,1.0,1.0,2.0,1.0,0.0,1.0,1.0,2.0,...,NaN,NaN,NaN,NaN,10,80,2,2,1,2

In [167]:
df_imevac_health_domains.set_index("ID", inplace=True)

,Item#,1,2a,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,...,Unnamed: 143,Unnamed: 144,Unnamed: 145,Unnamed: 146,3,Unnamed: 148,4,Unnamed: 150,5,Unnamed: 152
ID,,,,,,,,,,,,,,,,,,,,,
1.0,NaN,NaN,1.0,2.0,1.0,2.0,2.0,0.0,0.0,2.0,...,NaN,NaN,NaN,NaN,95,100,2,5,3,1
2.0,NaN,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,NaN,NaN,NaN,NaN,20,100,2,2,5,2
3.0,NaN,2.0,1.0,1.0,1.0,2.0,0.0,1.0,1.0,2.0,...,NaN,NaN,NaN,NaN,70,100,1,1,1,0
4.0,NaN,1.0,1.0,0.0,0.0,1.0,0.0,2.0,2.0,2.0,...,NaN,NaN,NaN,NaN,20,60,1,3,1,3
5.0,NaN,2.0,1.0,2.0,2.0,2.0,1.0,1.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,60,0,1,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1408.0,NaN,1.0,2.0,2.0,1.0,2.0,1.0,2.0,2.0,2.0,...,NaN,NaN,NaN,NaN,10,50,0,0,0,0
1409.0,NaN,NaN,2.0,2.0,2.0,1.0,2.0,2.0,2.0,2.0,...,NaN,NaN,NaN,NaN,20,60,1,3,1,3
1410.0,NaN,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,...,NaN,NaN,NaN,NaN,10,50,1,3,1,0
1411.0,NaN,2.0,2.0,2.0,1.0,2.0,1.0,1.0,1.0,2.0,...,NaN,NaN,NaN,NaN,50,80,3,4,3,4
1412.0,NaN,1.0,1.0,1.0,2.0,1.0,0.0,1.0,1.0,2.0,...,NaN,NaN,NaN,NaN,10,80,2,2,1,2

In [181]:
# column of "the degree of which one's own mental stability was affected"

df_imevac_health_domains['Unnamed: 16']

1       1.0
2       0.0
3       0.0
4       0.0
5       0.0
       ...
1408    2.0
1409    2.0
1410    2.0
1411    1.0
1412    0.0
Name: Unnamed: 16, Length: 1412, dtype: float64

In [198]:
df_p_self_improvement[ df_p_self_improvement.sum(axis=1) >11]

       34   35   36
5     4.0  5.0  5.0
7     4.0  4.0  4.0
9     4.0  4.0  4.0
20    4.0  4.0  5.0
23    3.0  5.0  5.0
...   ...  ...  ...
1359  4.0  5.0  4.0
1367  5.0  5.0  5.0
1381  4.0  4.0  4.0
1391  5.0  3.0  5.0
1394  4.0  4.0  4.0

[239 rows x 3 columns]

In [133]:
df_p_altruism.sum(axis=1)

0       16.0
1       16.0
2       17.0
3       22.0
4       16.0
        ...
1407    20.0
1408    15.0
1409    17.0
1410    14.0
1411    13.0
Length: 1412, dtype: float64

In [117]:
df_agesex[df_agesex['Sex']==2]['Sex']

0       2.0
2       2.0
7       2.0
11      2.0
13      2.0
       ...
1404    2.0
1405    2.0
1407    2.0
1408    2.0
1409    2.0
Name: Sex, Length: 832, dtype: float64

In [64]:
group_sex=df_agesex.groupby('Sex')

In [90]:
# for group in group_sex:
#     print('Group Name: ', group[0])
#     print('Group Data:\n', group[1])
#     print('\n')

In [91]:
# y=df_agesex['Sex']==2

        ID  Age  Sex
0        1  3.0  2.0
1        2  3.0  1.0
2        3  2.0  2.0
3        4  2.0  1.0
4        5  5.0  1.0
...    ...  ...  ...
1407  1408  3.0  2.0
1408  1409  4.0  2.0
1409  1410  2.0  2.0
1410  1411  4.0  1.0
1411  1412  2.0  1.0

[1412 rows x 3 columns]

# State a scientific yes/no question



#### Did people with high levels of active self improvement have less change in mental stability than people with low levels of active self improvement?

# Take a skeptical stance: state a null hypothesis

#### People with low levels of active self improvement had no decline in mental stability during the earthquake compared to those with high levels of self-improvement

# State the opposite of your null hypothesis: the alternative hypothesis

#### People with low levels of active self improvement did expierence a decline in mental stability during the earthquake compare to those who have high levels of active self improvement